---
Checks: 'llvm,
         cppcoreguidelines*,
         modernize*,
         performance*,
         readability*,
         portability*,
         bugprone*,
         -modernize-use-trailing-return-type,
         -modernize-use-nodiscard,
         -cppcoreguidelines-pro-type-vararg,
         -readability-isolate-declaration,
         -cppcoreguidelines-pro-bounds-array-to-pointer-decay'

HeaderFilterRegex: ''
