---
Checks: 'llvm,
         cppcoreguidelines*,
         modernize*,
         performance*,
         readability*,
         portability*,
         -modernize-use-trailing-return-type,
         -cppcoreguidelines-pro-type-vararg,
         -readability-isolate-declaration'

HeaderFilterRegex: ''
