<!--<launch>-->
    <!--<arg name="root_dir"/>-->
    <!--<arg name="transform_file"/>-->
  <!--<node pkg="generate_images" type="BroadcastTransform" name="BroadcastTransform" output="screen">-->
  <!--[> handeye_calib_camodocal arg pass <]-->
    <!--<param name="root_dir"       type="str" value="$(arg root_dir)" />-->
    <!--<param name="transform_file"       type="str" value="$(arg transform_file)" />-->
<!--</node>-->
<!--</launch>-->
<launch>
    <node pkg="tf2_ros" type="static_transform_publisher" 
        name="link1_broadcaster" 
        args="0.02 -0.04 0.06 0.0 0.0 0.70710678 -0.70710678 forearm_link camera_link" />
</launch>

